tbody > tr:nth-child(2n + 1) {
  @apply bg-gray-100;
}


@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


.animate-slide-in {
  animation: slideIn 0.5s ease-in-out;
}


@layer app-components {

  .fab-button {
    @apply rounded-full flex items-center justify-center w-10 h-10 hover:bg-opacity-80;
  }
}
