tbody > tr:nth-child(2n + 1) {
  @apply bg-gray-100;
}


@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


.animate-slide-in {
  animation: slideIn 0.5s ease-in-out;
}


@layer app-components {

  .fab-button {
    @apply rounded-full flex items-center justify-center w-10 h-10 hover:bg-opacity-80;
  }

  .menu {
    @apply flex items-center justify-center bg-black bg-opacity-50 p-4 fixed top-0 left-0 w-screen h-screen z-[999];
  }

  .raised-button {
    @apply w-full uppercase font-medium !h-14 hover:opacity-80 rounded-md;
  }
}
